# Assignment 1:

# Practice Problem 2.1:

In [3]:
#(a) The sum of first five positive integers.
c = int(1+2+3+4+5)
print(c)

15

In [9]:
#(b) The average age of Sara (age 23), Mark (age 19), and Fatima (age 31)
fage = 23
mage = 19
faage = 31
avg_of_ages = ((fage+mage+faage) /3)
print(avg_of_ages)

24.333333333333332

In [12]:
#(c) The number of times 73 goes into 403.
c = float(403.0/73.0)
print(c)

5.52054794520548

In [11]:
#(d) The remainder when 403 is divided by 73.
c = int(403%73)
print(c)

38

In [16]:
#(e) 2 to the 10th power.
c = int(2**10)
print(c)

1024

In [17]:
#(f) The absolute value of the difference between Sara’s height (54 inches) and Mark’s height (57 inches).
c = abs(54-57)
print(c)

3

In [23]:
#(g) The lowest price among the following prices: $34.99, $29.95, and $31.50.
c = min(34.99,29.95,31.50)
print(c)

29.95

# Practice Problem 2.2:

In [6]:
#(a) The sum of 2 and 2 is less than 4.
>>> 2+2<4

False

In [31]:
#(b) The value of 7 // 3 is equal to 1 + 1.
>>> 7//3==1+1

True

In [33]:
#(c) The sum of 3 squared and 4 squared is equal to 25.
>>> 3**2+4**2==25

True

In [34]:
#(d) The sum of 2, 4, and 6 is greater than 12.
>>> 2+4+6<12

False

In [49]:
#(e) 1387 is divisible by 19.
>>> 1387%19==0

True

In [50]:
#(f) 31 is even. (Hint: what does the remainder when you divide by 2 tell you?).
>>> 31%2

1

In [51]:
#(g) The lowest price among $34.99, $29.95, and $31.50 is less than $30.00. 
>>> min(34.99,29.95)<30.00

True

# Practice Problem 2.3:

In [52]:
#(a) Assign integer value 3 to variable a.
a = int(3)
print(a)

3

In [53]:
#(b) Assign 4 to variable b.
b = int(4)
print(b)

4

In [54]:
#(c) Assign to variable c the value of expression a * a + b * b 
c = (a*a+b*b)
print(c)

25

# Practice Problem 2.4:

In [55]:
#Start by executing the assignment statements:
>>> s1 = 'ant'
>>> s2 = 'bat'
>>> s3 = 'cod'

In [73]:
#Write Python expressions using s1, s2, and s3 and operators + and * that evaluate to: 
#(a) 'ant bat cod'
print(str(s1)+ " " + str(s2) + " " + str(s3))

ant bat cod

In [80]:
#(b) 'ant ant ant ant ant ant ant ant ant ant '
print((s1+ " ") *(10))

ant ant ant ant ant ant ant ant ant ant

In [95]:
#(c) 'ant bat bat cod cod cod'
print((s1+" "+(s2+ " ") *(2))+(s3+" ") *(3))

ant bat bat cod cod cod

In [97]:
#'ant bat ant bat ant bat ant bat ant bat ant bat ant bat '
print(((s1+" ")+(s2+" "))*7)

ant bat ant bat ant bat ant bat ant bat ant bat ant bat

In [99]:
#(e) 'batbatcod batbatcod batbatcod batbatcod batbatcod '
print((s2+s2+s3+" ")*5)

batbatcod batbatcod batbatcod batbatcod batbatcod

# Practice Problem 2.5

In [5]:
s = '0123456789'
#(a)
print(s[0])
#(b)
print(s[1])
#(c)
print(s[-4])
#(d)
print(s[-2])
#(e)
print(s[-1])

0
1
6
8
9

# Practice Problem 2.6

In [22]:
words = ['bat', 'ball', 'barn', 'basket', 'badminton']
print(min(words))
print(max(words))

badminton
bat

# Practice Problem 2.7

In [12]:
grades = [9, 7, 7, 10, 3, 6, 2]
grades.count(7)

2

In [14]:
grades[-1]=4
print(grades)

[9, 7, 7, 10, 3, 6, 4]

In [15]:
print(max(grades))
print(grades.sort())
print(sum(grades)/len(grades))

10
None
6.571428571428571

In [ ]:
#X--------------------X

In [40]:
>>> 2 + 3 == 4 or a >= 5

True

In [3]:
>>> grades = [9, 7, 7, 10, 3, 6, 2]
>>> grades[1] * -3 < -10 == 0

False

In [4]:
>>> (grades[1] * -3 < -10) in [0, True]

True

In [5]:
>>> 2 * 3**2

18

In [6]:
>>> 4 / 2 in [1, 2, 3]

True